/Debug/

data/fort.14
data/fort.16
data/fort.21
data/fort.22
data/fort.25
data/fort.31
data/fort.4
original/fort.21
original/fort.22
original/fort.25
original/fort.31
original/nickdat.dat
.idea
.metadata
/CompilerIDE/VS2015/umkehr_if/*.opendb
data/fort.10
umkehr_program.exe
autom4te.cache
/umkehr_if.so
config.log
config.status
__pycache__
